.personality__content-wrap::after {
	content: '';
	position: absolute;
	height: 17px;
	width: 30px;
	bottom: -17px;
	background-color: #919399;
	border-radius: 5px;
}

.personality__content-wrap:first-child::after {
	position: absolute;
	left: 80%;
}

.personality__content-wrap:nth-child(2)::after {
	position: absolute;
	left: 70%;
}

.personality__content-wrap:nth-child(3)::after {
	position: absolute;
	left: 30%;
}

.personality__content-wrap:last-child::after {
	position: absolute;
	left: 30%;
}

.technology__item-span {
	display: inline-block;
	position: relative;
	height: 15px;
	width: 100%;
	background-color: rgba(0, 16, 61, 0.14);
}

.technology__item-span::after {
	content: '';
	display: inline-block;
	position: relative;
	height: 15px;
	width: 10%;
	background-color: #919399;
}

.technology__item:first-child .technology__item-span::after {
	width: 30%;
}

.technology__item:nth-child(2) .technology__item-span::after {
	width: 50%;
}

.technology__item:nth-child(3) .technology__item-span::after {
	width: 20%;
}

.technology__item:last-child .technology__item-span::after{
	width: 70%;
}
